<template>
        <index-book></index-book>
</template>

<script>
import IndexBook from "./Book/Index";
export default {
    name: "index",
    components: {IndexBook},
    props: ['auth']
}
</script>
