<template>
    <div>
        <FormulateForm  v-model="uservalues" @submit="saveUser">
            <h2 class="text-2xl mb-2">{{titleForm}}</h2>
            <div class="sm:flex mb-6 md:grid md:gap-4 md:grid-cols-2">
                <div  v-for="e in userSchema" :key="e.name">
                    <FormulateInput v-if="e.name === 'categories_id'"
                                    :options="categories"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="e.inpClass"
                                    :error-class="e.errorClass"
                    />
                    <FormulateInput v-else
                                    :options="e.opt"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="e.inpClass"
                                    :error-class="e.errorClass"
                    />
                </div>
            </div>

            <FormulateInput
                input-class="px-4 py-2 bg-green-500 text-white hover:bg-green-600"
                type="submit"
            />
            <!--
            <pre class="mt-8 p-2 bg-gray-200 whitespace-pre text-sm">{{ bookid }}</pre>
            <pre class="mt-8 p-2 bg-gray-200 whitespace-pre text-sm">{{ categories }}</pre>
            <pre class="mt-8 p-2 bg-gray-200 whitespace-pre text-sm">{{ uservalues }}</pre> -->
        </FormulateForm>
    </div>
</template>

<script>
const valDef = '^required|min:5|max:50';
const classDef = 'form-input rounded-md shadow-sm w-full';
const classOut = '';
const errorClass='text-sm text-red-600';
const styl = {classOut,errorClass};
const optGender = {1:'Hombre',2:'Mujer',3:'Otro'};

export default {
    props:['bookid'],
    data() {
        return {
            titleForm : 'Edición/Creación Libro',
            categories: {},
            uservalues: {},
            userSchema: [
                {name: 'tittle',typeInput : 'text', label:'Titulo', validation: valDef, inpClass:classDef, ...styl },
                {name: 'publish',typeInput : 'date', label:'Fecha de publicación', validation: '^required|date', inpClass:classDef, ...styl },
                {name: 'pages_number',typeInput : 'number', label:'Número de páginas', validation: '^required', inpClass:classDef, ...styl },
                {name: 'editorial',typeInput : 'text', label:'Editorial', validation: valDef, inpClass:classDef, ...styl },
                {name: 'issn',typeInput : 'text', label:'ISSN', validation: valDef, inpClass:classDef, ...styl },
                {name: 'author',typeInput : 'text', label:'Autor', validation: valDef, inpClass:classDef, ...styl },
                {name: 'path_image',typeInput : 'text', label:'Ruta web de imagen', validation: '^required|min:5|max:255', inpClass:classDef, ...styl },
                {name: 'price',typeInput : 'number', label:'Valor del libro', validation: '^required', inpClass:classDef, ...styl },

                {name: 'categories_id',typeInput : 'select', label:'Categoria', validation: '^required', inpClass:classDef, ...styl },
            ]
        };
    },
    methods: {
        saveUser(){
            if (this.uservalues.id){
                axios.put('/adminbooks/'+this.uservalues.id, {data:this.uservalues})
                    .then(response => {
                        alert(response.data.code === 200? response.data.message+' Success' : response.data.message+' Valide fecha')
                    });
            } else {
                axios.post('/adminbooks', {data:this.uservalues})
                    .then(response => {
                        alert(response.data.code === 200? response.data.message+' Success' : response.data.message+' Valide fecha')
                    });
            }

        }
    },
    mounted() {
        if(this.bookid){
            axios.get('/adminbooks/'+this.bookid)
                .then(response => {this.uservalues = response.data.records});
        }

        axios.get(route('admincategories.index').url())
            .then(response => {
                this.categories = (response.data.records);
                const objMerge ={};
                this.categories.forEach(element => {
                    objMerge[(`${element.id}`+" ").trim()] = element.name;
                });
                this.categories = objMerge;
            });
    }
};
</script>
