<template>
    <div>
        <FormulateForm  v-model="uservalues" @submit="saveUser">
            <h2 class="text-2xl mb-2">{{titleForm}}</h2>
            <div class="sm:flex mb-6 md:grid md:gap-4 md:grid-cols-2">
                <div  v-for="e in userSchema" :key="e.name">
                    <FormulateInput v-if="e.name === 'departament'" @input="changeCities(uservalues.departament)"
                                    :options="deptos"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="e.inpClass"
                                    :error-class="e.errorClass"
                    />
                    <FormulateInput v-else-if="e.name === 'city'"
                                    :options="cities"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="e.inpClass"
                                    :error-class="e.errorClass"
                    />
                    <FormulateInput v-else-if="e.name === 'preferences' && newUser"
                                    :options="categories"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    validation="min:2|max:3"
                                    :outer-class="e.classOut"
                                    :input-class="'form-input rounded-md shadow-sm w-full'"
                                    :error-class="e.errorClass"
                                    :validation-messages="
                                    {
                                        min: 'Debe selecionar minimo 2',
                                        max: 'No debe selecionar mas de 3'
                                    }"
                                    error-behavior="live"
                    />
                    <FormulateInput v-else-if="e.name === 'password' && !newUser"
                                    :options="categories"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="'form-input rounded-md shadow-sm w-full'"
                                    :error-class="e.errorClass"
                    />
                    <FormulateInput v-else-if="e.name === 'rol' && !newUser"
                                    :options="e.opt"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="'form-input rounded-md shadow-sm w-full'"
                                    :error-class="e.errorClass"
                    />
                    <FormulateInput v-else-if="e.name !== 'password' && e.name !== 'preferences' && e.name !== 'rol'"
                                    :options="e.opt"
                                    :type="e.typeInput"
                                    :name="e.name"
                                    :label="e.label"
                                    :validation="e.validation"
                                    :outer-class="e.classOut"
                                    :input-class="e.inpClass"
                                    :error-class="e.errorClass"
                    />
                </div>
            </div>

            <FormulateInput
                input-class="px-4 py-2 bg-green-500 text-white hover:bg-green-600"
                type="submit"
            />
            <!-- <pre class="mt-8 p-2 bg-gray-200 whitespace-pre text-sm">{{ uservalues }}</pre> -->
        </FormulateForm>
    </div>
</template>

<script>
const valDef = '^required|min:5';
const classDef = 'form-input rounded-md shadow-sm w-full';
const classOut = '';
const errorClass='text-sm text-red-600';
const styl = {classOut,errorClass};
const optGender = {1:'Hombre',2:'Mujer',3:'Otro'};
const optRol = {1:'Admin',2:'Cliente'};

export default {
    props : ['newUser'],
    data() {
        return {
            titleForm : 'Información Usuario',
            categories: {},
            cities: {},
            deptos : {},
            uservalues: {},
            userSchema: [
                {name: 'name',typeInput : 'text', label:'Nombre Completo', validation: valDef, inpClass:classDef, ...styl },
                {name: 'birthdate',typeInput : 'date', label:'Fecha de nacimiento', validation: 'required|date', inpClass:classDef, ...styl },
                {name: 'departament',typeInput : 'select', label:'Departamento', validation: 'required', inpClass:classDef, ...styl },
                {name: 'city',typeInput : 'select', label:'Ciudad', validation: 'required', inpClass:classDef, ...styl },
                {name: 'gender',typeInput : 'select', label:'Genero',opt:optGender, validation: 'required', inpClass:classDef, ...styl },
                {name: 'email',typeInput : 'email', label:'Correo', validation: 'required|email', inpClass:classDef, ...styl },
                {name: 'rol',typeInput : 'select', label:'Rol',opt:optRol, validation: 'required', inpClass:classDef, ...styl },
                {name: 'preferences',typeInput : 'checkbox', label:'Preferencias', validation: 'required', inpClass:classDef, ...styl },
                {name: 'password',typeInput : 'password', label:'Contraseña', validation: 'required|min:8', inpClass:classDef, ...styl },
            ]
        };
    },
    methods: {
        changeCities(code){
            axios.get('https://www.datos.gov.co/resource/xdk5-pm3f.json?c_digo_dane_del_departamento='+code+'&$select=municipio,c_digo_dane_del_municipio')
                .then(response => {
                    this.cities = (response.data);
                    const objMerge ={};
                    this.cities.forEach(element => {
                        objMerge[(`${element.c_digo_dane_del_municipio}`+" ").trim()] = element.municipio;
                    });
                    this.cities = objMerge;
                })
        },
        submitted() {
            alert("Password reset!");
        },
        apiGov(){
            axios.get('https://www.datos.gov.co/resource/xdk5-pm3f.json?$select=departamento,c_digo_dane_del_departamento&$group=departamento,c_digo_dane_del_departamento')
                .then(response => {
                    this.deptos = (response.data);
                    const objMerge ={};
                    this.deptos.forEach(element => {
                        objMerge[(`${element.c_digo_dane_del_departamento}`+" ").trim()] = element.departamento;
                    });
                    this.deptos = objMerge;
                })
        },
        saveUser(){
            if (this.uservalues.id){
                axios.put(process.env.MIX_APP_URL+'/users/'+this.uservalues.id, {data:this.uservalues})
                    .then(response => {
                        alert(response.data.code === 200? response.data.message+' Success' : response.data.message+' Valide fecha')
                    });
            } else {
                axios.post(process.env.MIX_APP_URL+'/users', {data:this.uservalues})
                    .then(response => {
                        alert(response.data.code === 200? response.data.message+' Success' : response.data.message+' Valide fecha')
                    });
            }

        }
    },
    mounted() {
        if (this.newUser)
            axios.get('/users/6')
                .then(response => {this.uservalues = response.data});

        axios.get(route('admincategories.index').url())
            .then(response => {
                this.categories = (response.data.records);
                const objMerge ={};
                this.categories.forEach(element => {
                    objMerge[(`${element.id}`+" ").trim()] = element.name;
                });
                this.categories = objMerge;
            });

        this.apiGov();
    }
};
</script>
