<template>
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
        <div v-if="show">
            <BookForm  :bookid="bookid"></BookForm>
        </div>
        <template v-for="book in books">
            <div :id="book.id" class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                <div class="flex items-end justify-end h-56 w-full bg-cover" :style="'background-image: url('+'\''+(book.path_image? book.path_image: defaultImage)+'\''+' )'">
                    <button class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                    </button>
                    <button v-if="user.rol == 1 || user.rol == 2" @click="conf(book.id)" class="p-2 rounded bg-green-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        Editar
                    </button>
                </div>
                <div class="px-5 py-3">
                    <h3 class="text-gray-700 uppercase">{{book.tittle}}</h3>
                    <span class="text-gray-500 mt-2">${{book.price}} <span class="text-xs">{{coin}}</span></span>
                </div>
            </div>
        </template>

    </div>
</template>

<script>
import BookForm from "../Layout/Components/forms/BookForm";
export default {
    name: 'book',
    components: {BookForm},
    props: ['categoryId'],
    data() {
        return {
            user: null,
            show: false,
            bookid: null,
            books: [],
            coin: 'CO',
            defaultImage: 'https://i.pinimg.com/564x/2f/2e/04/2f2e044df2632e71c1a5654660012214.jpg'
        }
    },
    watch: {
        bookid: function (newVal) {
            console.log(newVal+' este es')
            const params = {
                'filter':'categories_id',
                'valuefilter': this.categoryId
            }
            axios.get(process.env.MIX_APP_URL+'/adminbooks', {params: params })
                .then(response => {
                    this.books = (response.data.records);
                })
        }
    },

    mounted() {
        axios.get(process.env.MIX_APP_URL+'/userget')
            .then(response => {
                this.user = (response.data);
            });
        const params = {
            'filter':'categories_id',
            'valuefilter': this.categoryId
        }
        axios.get(process.env.MIX_APP_URL+'/adminbooks', {params: params })
            .then(response => {
                this.books = (response.data.records);
            })
    },
    methods: {
        conf(idbook){
            this.bookid =  idbook === this.bookid? null: idbook;
            this.show = !this.show;
        }
    }
}
</script>
