<template>
    <div>
        <template v-for="category in categories">
            <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">{{category.name}}</h3>
                <book :category-id="category.id"></book>
            </div>
        </template>
    </div>
</template>

<script>
import Book from "./Book";
export default {
    name: "Category",
    components: {Book},
    data() {
        return {
            categories: [],
        }
    },

    mounted() {
        axios.get(process.env.MIX_APP_URL+'/admincategories')
            .then(response => {
                this.categories = (response.data.records);
            })
        /*
        axios.post(route('password.confirm').url(), {
            password: this.form.password,
        })*/
    },

    computed: {
    },

    methods:{
    }
}
</script>
