<template>
    <base-home>
        <main class="my-8">
            <div class="container mx-auto px-6">
                <news></news>
                <Category></Category>
            </div>
        </main>
    </base-home>
</template>

<script>
import BaseHome from "../Layout/BaseHome";
import News from "./News";
import Category from "./Category";
export default {
    name: 'indexBook',
    components: {Category, News, BaseHome}
}
</script>
