<template>
    <div>
        <div class="h-80 rounded-md overflow-hidden bg-cover bg-center" :style="'background-image: url(\''+imgHead+'\')'">
            <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                <div class="px-10 max-w-xl">
                    <h2 class="text-2xl text-white font-semibold">Los más recientes</h2>
                    <p class="mt-2 text-gray-400">{{msgDefMain}}</p>
                    <ul v-if="showListNew" class="list-disc mt-2 text-gray-300">
                        <li v-for="bookNew in listNews">
                            <a :href="'#'+bookNew.id">{{bookNew.tittle}}</a>
                        </li>
                    </ul>
                    <button @click="showListNew = !showListNew" class="flex items-center mt-4 px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                        <span>Comprar Ahora</span>
                        <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="md:flex mt-8 md:-mx-4">
            <div class="w-full h-80 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2" :style="'background-image: url(\''+imgRecomended1+'\')'">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">{{category1.name}}</h2>
                        <p class="mt-2 text-gray-400">{{msgPerRecomended1}}{{' '+category1.name}}</p>
                        <ul v-if="showList1" class="list-disc mt-2 text-gray-300">
                            <li v-for="book1 in listRec1">
                                <a :href="'#'+book1.id">{{book1.tittle}}</a>
                            </li>
                        </ul>
                        <button @click="showList1 = !showList1" class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none">
                            <span>Ver Ahora</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-full h-80 mt-8 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/2" :style="'background-image: url(\''+imgRecomended2+'\')'">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">{{category2.name}}</h2>
                        <p class="mt-2 text-gray-300">{{msgPerRecomended2}}{{' '+category2.name}}</p>
                        <ul v-if="showList2" class="list-disc mt-2 text-gray-300">
                            <li v-for="book in listRec2">
                                <a :href="'#'+book.id">{{book.tittle}}</a>
                            </li>
                        </ul>
                        <button @click="showList2 = !showList2" class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none">
                            <span>Ver Ahora</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "News",
    data(){
        return {
            listNews : [{tittle:'El Quijote de la mancha'},{tittle:'100 años de soledad'}],

            category1: {name:'Universal'},
            category2: {name:'Fantasia'},

            showListNew: false,
            showList1: false,
            showList2: false,
            listRec1 : [{tittle:'El Quijote de la mancha'},{tittle:'100 años de soledad'}],
            listRec2 : [{tittle:'El señor de los anillos'},{tittle:'Los juegos del hambre'}],

            imgHead : 'https://images.pexels.com/photos/2663851/pexels-photo-2663851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
            imgRecomended1 : 'https://images.pexels.com/photos/936133/pexels-photo-936133.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
            imgRecomended2 : 'https://images.pexels.com/photos/5634667/pexels-photo-5634667.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
            msgDefMain : 'renovamos nuestro catalogo constantemente para brindarte la mejor experiencia.',
            msgPerMain : '',
            msgPerRecomended1 : 'Estos son los recomendados para ti en',
            msgPerRecomended2 : 'Tambien te traemos algunos titulos que te encantarán en',
        }
    },

    mounted() {
        axios.get(process.env.MIX_APP_URL+'/recomended')
            .then(response => {
                this.category1=response.data.category1;
                this.category2=response.data.category2;
                this.listRec1=response.data.listRec1;
                this.listRec2=response.data.listRec2;
                this.listNews=response.data.listNews;
            });
    }
}
</script>
